@import 'variables';

.action_buttons {
  white-space: nowrap;
  display: inline-block;
}

button.edit,
button.save,
button.cancel,
button.up,
button.down,
button.trash {
  width: 34px;
  height: 34px;
  background-color: $support_color;
  margin-right: 5px;
  border-radius: 5px;

  &:hover {
    background-color: rgba($color: $support_color, $alpha: .6);
  }
}

button.save {
  background-color: $safety_color;

  &:hover {
    background-color: rgba($color: $safety_color, $alpha: .6);
  }
}

button.cancel {
  background-color: $danger_color;

  &:hover {
    background-color: rgba($color: $danger_color, $alpha: .6);
  }
}
