table.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

table.table tr {
  border-bottom: 1px solid #A2D7DD;
}

table.table th,
table.table td {
  padding: 10px 20px;
}
