@import 'variables';

table.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;

   tr {
    border-bottom: 1px solid $main_color;
   }

   th,
   td {
    padding: 10px 20px;
   }
}
