@import 'variables';

table.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;

  tr {
    border-bottom: 1px solid $main_color;
  }

  th,
  td {
    padding: 10px 20px;
  }

  input[type=text] {
    height: 34px;
    color: $text_color;
    border: 1px solid $main_color;
    border-radius: 5px;
    padding-left: 10px;
  }
}
