table.table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-top: 10px;
}

table.table tr {
  border-bottom: 1px solid #A2D7DD;
}

table.table th,
table.table td {
  padding: 10px 20px;
}

button.up,
button.down,
button.trash {
  width: 34px;
  height: 34px;
  background-color: #3E62AD;
  margin-right: 5px;
  border-radius: 5px;
}

button.up:hover,
button.down:hover,
button.trash:hover {
  background-color: #4F455C;
}
